<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>my.server.GreetingServiceImpl</servlet-class>
    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/extranewgwt/greet</url-pattern>
  </servlet-mapping>
  
  
   <!-- Servlets -->
    <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>my.server.InitServlet</servlet-class>
    <!--  
    <init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.xml</param-value>
	</init-param>
	-->
    <load-on-startup>1</load-on-startup>
  </servlet>
   
  <servlet>
    <servlet-name>getServiceImpl</servlet-name>
    <servlet-class>my.server.RPCServiceImpl</servlet-class>
    <!--  
    <init-param>
    		
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.xml</param-value>
	</init-param>
	-->
  </servlet>

  <servlet-mapping>
    <servlet-name>getServiceImpl</servlet-name>
    <url-pattern>/extranewgwt/getrpc</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>PostPhotos</servlet-name>
    <servlet-class>my.server.grabber.PostPhotos</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>PostPhotos</servlet-name>
    <url-pattern>/extranewgwt/postphotos</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>GetPhoto</servlet-name>
    <servlet-class>my.server.GetPhoto</servlet-class>
    <!--<load-on-startup>1</load-on-startup>-->
  </servlet>

  <servlet-mapping>
    <servlet-name>GetPhoto</servlet-name>
    <url-pattern>/extranewgwt/getphoto</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ExtraNewGWT.html</welcome-file>
    <welcome-file>inframe.html</welcome-file>
  </welcome-file-list>

</web-app>
